<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css'/>

    </head>
    <body>
        <h1><%= title %></h1>
        <form action="/skills/edit/<%= id %>?_method=PUT" method="POST">
            <label for="skill">Skill</label>
            <input id="skill" type="text" name="skill" value="<%= skills[0].skill %>"></input>
        <label for="description">Description</label>
        <input id="description" type="text" name="description" value="<%= skills[0].description %>">></body>
</html></input><button type="submit">Save</button></form><div id="root"></div></body></html>
